{{!-- Footer Section - Site footer with links aur company info --}}
<footer class="text-white py-5 mt-5">
    <div class="container">
        <div class="row">
            {{!-- Company branding aur description --}}
            <div class="col-md-4 mb-4">
                {{!-- Logo --}}
                <div class="d-flex align-items-center mb-3">
                    <span class="bg-light rounded-circle d-inline-block me-2" style="width: 30px; height: 30px;"></span>
                    <span class="fw-bold fs-4">TrendoTech</span>
                </div>
                {{!-- Company description --}}
                <p class="small mb-3">Your one-stop shop for fashion and electronics. We offer high-quality products at competitive prices.</p>
                {{!-- Social media icons --}}
                <div class="d-flex gap-3 mt-3">
                    <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-pinterest"></i></a>
                </div>
            </div>
            
            {{!-- Shop categories links --}}
            <div class="col-md-2 mb-4">
                <h5 class="mb-3 fw-semibold">Shop</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/products?category=men-clothing" class="text-white text-decoration-none small">Men's Clothing</a></li>
                    <li class="mb-2"><a href="/products?category=women-clothing" class="text-white text-decoration-none small">Women's Clothing</a></li>
                    <li class="mb-2"><a href="/products?category=accessories" class="text-white text-decoration-none small">Accessories</a></li>
                    <li class="mb-2"><a href="/products?category=electronics" class="text-white text-decoration-none small">Electronics</a></li>
                </ul>
            </div>
            
            {{!-- Quick navigation links --}}
            <div class="col-md-2 mb-4">
                <h5 class="mb-3 fw-semibold">Quick Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/" class="text-white text-decoration-none small">Home</a></li>
                    <li class="mb-2"><a href="/about-us" class="text-white text-decoration-none small">About Us</a></li>
                    <li class="mb-2"><a href="/contact-us" class="text-white text-decoration-none small">Contact</a></li>
                    <li class="mb-2"><a href="/blogs" class="text-white text-decoration-none small">Blog</a></li>
                </ul>
            </div>
            
            {{!-- Social media links --}}
           <div class="col-md-2 mb-4">
    <h5 class="mb-3 fw-semibold">Social Links</h5>
    <ul class="list-unstyled">
        <li class="mb-2">
            <a href="https://www.facebook.com" target="_blank" class="text-white text-decoration-none small">Facebook</a>
        </li>
        <li class="mb-2">
            <a href="https://www.instagram.com" target="_blank" class="text-white text-decoration-none small">Instagram</a>
        </li>
        <li class="mb-2">
            <a href="https://twitter.com" target="_blank" class="text-white text-decoration-none small">Twitter</a>
        </li>
        <li class="mb-2">
            <a href="https://www.pinterest.com" target="_blank" class="text-white text-decoration-none small">Pinterest</a>
        </li>
    </ul>
</div>

        </div>
        {{!-- Footer separator line --}}
        <hr class="mt-4 mb-4 opacity-25">
        {{!-- Copyright aur legal links --}}
        <div class="row">
            {{!-- Copyright notice --}}
            <div class="col-md-6 mb-3 mb-md-0">
                <p class="small mb-0">&copy; 2023 TrendoTech. All rights reserved.</p>
            </div>
            {{!-- Legal policy links --}}
            <div class="col-md-6 text-md-end">
                <a href="/privacy-policy" class="text-white text-decoration-none small me-3">Privacy Policy</a>
                <a href="/terms-conditions" class="text-white text-decoration-none small me-3">Terms & Conditions</a>
                <a href="/refund-policy" class="text-white text-decoration-none small">Refund Policy</a>
            </div>
        </div>
    </div>
</footer>